

*, *::after, *::before {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1d6836;
}

h1 {
    text-align: center;
    color: rgb(128, 13, 0);
    font-size: 8em;
    font-family: 'Climate Crisis', cursive;
    text-shadow: 2px 2px #FFD700;
    padding: 60px 0 0 0;
    line-height: 100px;
}

h2 {
    text-align: center;
    font-family: 'Tilt Warp', cursive;
    color: #FFD700;
    text-shadow: 2px 2px rgb(128, 13, 0);
}

h3 {
    font-size: 2.5em;
}

.header-player1 {
    color: #ffac9a;
    text-shadow: 2px 2px rgb(128, 13, 0);
}

.header-player2 {
    color: #9adbff;
    text-shadow: 2px 2px rgb(128, 13, 0);
}


.player1-card-slot {
    background-color: #ffac9a;
    padding: 100px 50px 200px 50px;
    margin-bottom: 50px;
    width: 325px;
    height: 444px;
    font-size: 1.8em;
    border: solid 3px;
    border-radius: 5px;
    user-select: none;
}

.player2-card-slot {
    background-color: #9adbff;
    padding: 100px 50px 200px 50px;
    margin-bottom: 50px;
    width: 325px;
    height: 444px;
    font-size: 1.8em;
    border: solid 3px;
    border-radius: 5px;
    user-select: none;
}

/* .player1-card-num {
    font-size: 2.2em
} */

.player1-card-value-top {
    position: absolute;
    top: 45px;
    left: 30px;
    font-size: 3em;

}

.player1-card-value-bottom {
    position: absolute;
    top: 253px;
    left: 250px;
    font-size: 3em;
    transform: rotate(180deg); 
    transform-origin: bottom;
}

.player1-card-suit {
    position: absolute;
    top: 100px;
    left: 80px;
    font-size: 8em;

}

.card1-1 {
    position: absolute;
    height: 250px;
    width:200px;
    z-index: 1;
    margin: 18px 75px;
    background-color: #ffac9a;
    border: solid 1px;
    border-radius: 5px
   
}

.card1-2 {
    padding: 50px;
    position: absolute;
    height: 250px;
    width:200px;
    z-index: 2;
    margin: 12px 70px;
    background-color: #ff2f01;
    border: solid 1px;
    border-radius: 5px;
}

.card1-3 {
    padding: 50px;
    position: absolute;
    height: 250px;
    width:200px;
    z-index: 3;
    margin: 6px 65px;
    background-color: #ffac9a;
    border: solid 1px;
    border-radius: 5px;
}

.card1-4 {
    padding: 80px 30px;
    position: absolute;
    height: 250px;
    width:200px;
    z-index: 4;
    margin: 0 60px;
    background-color: #ff2f01;
    border: solid 1px;
    border-radius: 5px;
}

.player1-deck {
    text-align: left;
    white-space: nowrap;
    font-size: 1.8em;
    user-select: none;
}

.player1-deck-total{
    text-align: center;
    user-select: none;
}

.player1-deck-name {
    text-align: center;
    font-family: 'Tilt Warp', cursive;
    color: black;
    text-shadow: 1px 1px #ffac9a;
}

.player2-deck-name {
    text-align: center;
    font-family: 'Tilt Warp', cursive;
    color: black;
    text-shadow: 1px 1px #9adbff;

}

.player1-wins {
    margin-top: 330px;
    font-weight: bold;
    font-size: 1.1em;
    user-select: none;
}

/* .player2-card-num {
    font-size: 2.2em;
    user-select: none;
} */

.player2-card-value-top {
    position: absolute;
    top: 45px;
    left: 30px;
    font-size: 3em;

}

.player2-card-value-bottom {
    position: absolute;
    top: 253px;
    left: 250px;
    font-size: 3em;
    transform: rotate(180deg); 
    transform-origin: bottom;
}

.player2-card-suit {
    position: absolute;
    top: 100px;
    left: 80px;
    font-size: 8em;
}

.card2-1 {
    position: absolute;
    height: 250px;
    width:200px;
    z-index: 1;
    margin: 18px 75px;
    background-color: #9adbff;
    border: solid 1px;
    border-radius: 5px
   
}

.card2-2 {
    padding: 50px;
    position: absolute;
    height: 250px;
    width:200px;
    z-index: 2;
    margin: 12px 70px;
    background-color: #02a4ff;
    border: solid 1px;
    border-radius: 5px;
}

.card2-3 {
    padding: 50px;
    position: absolute;
    height: 250px;
    width:200px;
    z-index: 3;
    margin: 6px 65px;
    background-color: #9adbff;
    border: solid 1px;
    border-radius: 5px;
}

.card2-4 {
    padding: 80px 30px;
    position: absolute;
    height: 250px;
    width:200px;
    z-index: 4;
    margin: 0 60px;
    background-color: #02a4ff;
    border: solid 1px;
    border-radius: 5px;
    user-select: none;
}

.player2-deck {
    text-align: left;
    white-space: nowrap;
    font-size: 1.8em;
    user-select: none;
}

.player2-deck-total{
    text-align: center;
    user-select: none;
}

.player2-wins {
    margin-top: 330px; 
    font-weight: bold;
    font-size: 1.1em;
    user-select: none;
}

.center-column {
    padding-top: 20vh;
}

.text {
    font-size: 3em;
    text-transform: uppercase;
    padding-bottom: 25px;
}

.btn {
    width: 175px;
    padding: 10px 15px;
    font-size: 1.1em;
    font-weight: bold;
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2);

}

/* .start-game {
    padding: 10px 10px 5px 10px;
}

.play-again {
    padding: 3px 10px 0 10px;
}

.lets-battle {
    padding: 150px 10px 5px 10px;
}

.lets-war {
    padding: 3px 10px 5px 10px;
}

.lets-war-again {
    padding: 3px 10px 5px 10px;
} */

.war-wins {
    font-weight: bold;
    font-size: 1.1em;
}

.text {
    text-align: center;
    font-family: 'Tilt Warp', cursive;
    color: #FFD700;
    text-shadow: 2px 2px rgb(128, 13, 0);
}

.vs {  
    object-fit: cover;  
}  
    

.player1-wins {
    text-align: center;
    color: #ffac9a;
    text-shadow: 2px 2px rgb(128, 13, 0);
}

.player2-wins {
    text-align: center;
    color: #9adbff;
    text-shadow: 2px 2px rgb(128, 13, 0);
}
